@import "susy";

h1,h2,h3,h4,h5,h6, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.container {
  @include container;
  background-color: #fff;
}

header {
  background-color: #4D4D4D;
  .header-text {
    @include container(800px);
    text-align: center;
    padding: 20px;
    color: #fff;
    .name {
      font-weight: 100;
      font-size: 3em;
      .lastname {
        font-weight: 800;
      }
    }
    .tagline {
      font-weight: 100;
      font-size: 1.5em;
    }
  }
}

div.contact {
  @include container(400px);
  ul {
  margin-top: 20px;
  list-style: none;
  text-align: center;
    li {
      padding: 5px;
      display: inline-table;
      font-weight: 100;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
.section-title {
  text-align: center;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.5em;
}

.about-me {
  @include container(55%);
  p {
    margin: 0;
    text-align: justify;
    font-weight: 300;
    font-size: 1.25em;
  }
}

.skills {
  @include break;
  ul {
    margin: 0;
    padding: 0px;
    text-align: center;
    li {
      font-weight: 300;
      margin: 10px;
      display: inline-table;
    }
  }
}

.work, .education {
  @include break;
  @include container(80%);
  ul {
    list-style: none;
    li {
      padding: 20px 0;
      ul {
        padding: 20px 0;
        list-style: none;
        li {
          font-weight: 300;
          padding: 3px 0;
          font-size: 1.15em;
          ul {
            padding: 3px 10px;
            li {
              font-size: 0.85em;
            }
          }
        }
      }
    }
  }
  .location {
    font-weight: 100;
    font-size: 1em;
  }
  .date {
    float: right;
    text-transform: uppercase;
    color: #bbb;
  }
}

.italic {
  font-style: italic;
}

.title {
  font-weight: 300;
  font-size: 1.5em;
  .small {
    font-weight: 100;
    font-size: .65em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.resume {
  text-align: center;
  ul {
    margin-bottom: 50px;
    li {
      padding: 5px;
      a {
        text-decoration: underline;
        color: black;
      }
    }
  }
}
