<div class="container">
  <header>
    <div class="header-text">
      <h1 class="name">Brandon Hops</h1>
      <h2 class="tagline">University of Waterloo Student, Web Developer</h2>
    </div>
  </header>

  <div class="about-me">
    <h4 class="section-title">About Me</h4>
    <p>I'm a third year student in the University of Waterloo's Computer
    Science Co-op program. I enjoy learning and experimenting with various web
    technologies in my spare time. Over the course of several years, I have
    improved my skills as a web developer through self teaching, jobs and side
    projects. I'm comfortable picking up new technologies and languages, taking
    on large projects and implementing full-stack applications.</p>
  </div>
  <div class="skills">
    <h4 class="section-title">Skills</h4>
    <ul id="skill-list">
      <li>JavaScript</li>
      <li>Node.JS</li>
      <li>PHP</li>
      <li>SQL/NoSQL</li>
      <li>C/C++</li>
      <li>Python</li>
      <li>Django</li>
    </ul>
  </div>
  <div class="work">
    <h4 class="section-title">Work Experience</h4>
    <ul id="job-list">
      <li>
        <p class="date">May 2014 - Present</p>
        <h4 class="title">Web Developer</h4>
        <h6 class="location">PharmAchieve Ltd., North York ON</h6>
        <ul>
          <li><i class="fa fa-angle-right"></i> Saved hours of daily work by implementing a fully automated registration processing system integrating Moodle and Joomla's DT Register plugin</li>
          <li><i class="fa fa-angle-right"></i> Designed and implemented a quiz score visualization using D3.js to provide customers with feedback regarding their quiz scores including strengths and weaknesses</li>
          <li><i class="fa fa-angle-right"></i> Increased revenue and sales by creating a self-serve portal so that users could upgrade or extend their subscriptions at any time</li>
          <li><i class="fa fa-angle-right"></i> Improved question bank quality by creating a spell-checking utility that included Canadian Medical terms and drug names</li>
          <li><i class="fa fa-angle-right"></i> Created scripts to check course content (PDFs, text, question bank questions) and flag broken links</li>
          <li><i class="fa fa-angle-right"></i> [In Progress] Re-designing the entire CMS and LMS to be based on the MEAN stack and more customized to PharmAchieve's needs</li>
        </ul>
      </li>

      <li>
        <p class="date">Aug 2012 - Apr 2013 &amp; Jan - May 2014</p>
        <h4 class="title">Student Computing Consultant</h4>
        <h6 class="location">University of Waterloo IST, Waterloo ON</h6>
        <ul>
          <li><i class="fa fa-angle-right"></i> Displayed initiative and ability to diagnose and resolve new and existing problems</li>
          <li><i class="fa fa-angle-right"></i> Utilized time management and priority handling skills
</li>
          <li><i class="fa fa-angle-right"></i> Confident when working independently and under pressure as well as in a team
</li>
          <li><i class="fa fa-angle-right"></i> Logged all reported problems and solutions through an online ticket system
</li>
          <li><i class="fa fa-angle-right"></i> Provided IT customer support in a helpdesk environment via telephone, e-mail, online
chat or in-person</li>
        </ul>
      </li>

      <li>
        <p class="date">Apr 2013 - Dec 2013</p>
        <h4 class="title">Business Intelligence Technical Support Analyst</h4>
        <h6 class="location">IBM Canada, Ottawa ON</h6>

        <ul>
          <li><i class="fa fa-angle-right"></i> Provided support for IBM Cognos Business Intelligence products in the Americas while
maintaining 100% customer satisfaction in over 250 support cases</li>
          <li><i class="fa fa-angle-right"></i> Worked effectively with customers on time sensitive, high-impact issues</li>
          <li><i class="fa fa-angle-right"></i> Responded to customer service requests, quickly assessing the customer's needs and
problems in order to deliver an ideal solution</li>
          <li><i class="fa fa-angle-right"></i> Handled the processing of product defects and the creation of test cases in order to more
rapidly identify solutions and deliver code fixes to clients</li>
          <li><i class="fa fa-angle-right"></i> Developed skills with a wide variety of operating systems, databases, application servers,
web servers</li>
        </ul>
      </li>

      <li>
        <p class="date">Apr 2010 - Dec 2010</p>
        <h4 class="title">Baker/Cashier</h4>
        <h6 class="location">Tim Hortons, Kirkland QC</h6>
        <ul>
          <li><i class="fa fa-angle-right"></i> Excellent time management skills were essential to keep the store stocked</li>
          <li><i class="fa fa-angle-right"></i> Satisfied customer needs using strong social skills and fluency in English and French</li>
          <li><i class="fa fa-angle-right"></i> Accomplished various tasks including baking, drive-thru and storefront customer
service, cash and credit transactions, receiving of shipments, and housekeeping duties
</li>
        </ul>
      </li>

      <li>
        <p class="date">Sept 2009 - July 2010</p>
        <h4 class="title">Big Brothers Mentor <span class="small">Volunteer</span></h4>
        <h6 class="location">Big Brothers and Sisters West Island, Kirkland QC</h6>

        <ul>
          <li><i class="fa fa-angle-right"></i> Demonstrated leadership</li>
          <li><i class="fa fa-angle-right"></i> Provided effective communication with students and supervisors</li>
        </ul>
      </li>

    </ul>
  </div>

  <div class="education">
    <h4 class="section-title">Education</h4>
    <ul>

      <li>
        <p class="date">Sept 2012 - Present</p>
        <h4 class="title">University of Waterloo</h4>
        <h6 class="location">Waterloo, ON</h6>
        <ul>
          <li><i class="fa fa-angle-right"></i> Candidate for Bachelor of Computer Science</li>
          <li>
            <i class="fa fa-angle-right"></i> Notable Courses
            <ul>
              <li>Data Structures and Data Management</li>
              <li>Foundations of Sequential Programs</li>
              <li>Logic and Computation</li>
              <li>Object Oriented Software Development</li>
              <li>Computer Organization and Design</li>
              <li>Designing Functional Programs</li>
              <li>Elementary Algorithm Design and Data Abstraction</li>
            </ul>
          </li>
        </ul>

      </li>

      <li>
        <p class="date">Aug 2010 - May 2012</p>
        <h4 class="title">CEGEP John Abbott College</h4>
        <h6 class="location">Sainte-Anne-de-Bellevue, QC</h6>
        <ul>
          <li><i class="fa fa-angle-right"></i> Social Sciences with Commerce Diploma</li>
          <li><i class="fa fa-angle-right"></i> Recipent of "Top Ten" Award</li>
          <li><i class="fa fa-angle-right"></i> Achieved Honour Roll every academic term</li>
        </ul>
      </li>

    </ul>

  </div>

<!--   <div class="projects">
  <h4 class="section-title">Projects</h4>
</div>

<div class="activities">
  <h4 class="section-title">Activities and Interests</h4>
</div> -->
</div>
